# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.log

# Env
.venv/
.env

# VCS
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Dev / CI
tests/
docs/
changelog/
.pre-commit-config.yaml
.editorconfig
requirements-dev.txt
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
Makefile
.github/

# Ultralytics outputs
runs/
